<header class="header">
    <div class="header__left">
        <div class="header__logo"></div>
        <div class="header__search--desktop">
            <input class="header__search___input" type="text" placeholder="O que deseja encontrar?" />
            <fa-icon class="header__search___icon" [icon]="faMagnifyingGlass"></fa-icon>
        </div>
    </div>
    <a routerLink="#" class="header__login button--soft">Login</a>
    <button class="header__search">
        <fa-icon class="header__search___icon" [icon]="faMagnifyingGlass"></fa-icon>
    </button>
</header>
