<section class="about-us">
    <div class="logo"></div>
    <ul class="links">
        <div class="links__logo links__item logo"></div>
        <li class="links__item"><a>Quem somos nós</a></li>
        <li class="links__item"><a>Política de privacidade</a></li>
        <li class="links__item"><a>Programa fidelidade</a></li>
        <li class="links__item"><a>Nossas lojas</a></li>
        <li class="links__item"><a>Quero ser franqueado</a>v
        <li class="links__item"><a>Anuncie aqui</a></li>
    </ul>
    <form class="contact-us">
        <h2 class="contact-us__title">Fale conosco</h2>
        <label for="name" class="label--float">Nome</label>
        <input id="name" type="text" class="contact-us__name" />
        <label for="message" class="visibility-hidden">Escreva sua mensagem</label>
        <textarea id="message" class="contact-us__message" placeholder="Escreva sua mensagem"></textarea>
        <button class="contact-us__button button--solid">Enviar mensagem</button>
    </form>
</section>
<footer class="footer">
    <span>Desenvolvido por <a href="https://github.com/elciojunior7" target="_blank">Elcio Jr</a></span>
    <span>&copy;2022</span>
</footer>