.label--float {
    color: var(--label-color);
    font-size: .75rem;
    left: .75rem;
    margin-bottom: -1.6rem;
    position: relative;
    top: 0;
}

.label--ordinary {
    color: var(--label-color);
    font-size: .75rem;
}