<section class="banner">
    <div class="banner__image" alt="Banner"></div>
    <div class="banner__content">
        <h2 class="banner__title">Dezembro Promocional</h2>
        <p class="banner__subtitle">Produtos selecionados com 33% de desconto</p>
        <button class="banner__button button--solid">Ver Consoles</button>
    </div>
</section>
<main class="content">
    <section class="grid" *ngIf="productsStarwars.length > 0">
        <div class="grid__header">
            <h4 class="grid__title">Star Wars</h4>
            <a class="grid__link">
                Ver Tudo
                <fa-icon class="grid__icon" [icon]="faArrowRight"></fa-icon>
            </a>
        </div>
        <div class="cards" >
            <alr-card *ngFor="let pStar of productsStarwars" image="{{pStar.imagePath}}" name="{{pStar.title}}" cost="{{pStar.cost}}" goLink="true" ></alr-card>
        </div>
    </section>
    <section class="grid" *ngIf="productsConsoles.length > 0">
        <div class="grid__header">
            <h4 class="grid__title">Consoles</h4>
            <a class="grid__link">
                Ver Tudo
                <fa-icon class="grid__icon" [icon]="faArrowRight"></fa-icon>
            </a>
        </div>
        <div class="cards">
            <alr-card *ngFor="let pConsole of productsConsoles" image="{{pConsole.imagePath}}" name="{{pConsole.title}}" cost="{{pConsole.cost}}" goLink="true" ></alr-card>
        </div>
    </section>
    <section class="grid" *ngIf="productsStuffs.length > 0">
        <div class="grid__header">
            <h4 class="grid__title">Diversos</h4>
            <a class="grid__link">
                Ver Tudo
                <fa-icon class="grid__icon" [icon]="faArrowRight"></fa-icon>
            </a>
        </div>
        <div class="cards">
            <alr-card *ngFor="let pStuffs of productsStuffs" image="{{pStuffs.imagePath}}" name="{{pStuffs.title}}" cost="{{pStuffs.cost}}" goLink="true" ></alr-card>
        </div>
    </section>
</main>