<section class="about-us">
    <div class="logo"></div>
    <ul class="links">
        <div class="links__logo links__item logo"></div>
        <li class="links__item"><a>Quem somos nós</a></li>
        <li class="links__item"><a>Política de privacidade</a></li>
        <li class="links__item"><a>Programa fidelidade</a></li>
        <li class="links__item"><a>Nossas lojas</a></li>
        <li class="links__item"><a>Quero ser franqueado</a>v
        <li class="links__item"><a>Anuncie aqui</a></li>
    </ul>
    <div class="contact-us">
        <h2 class="contact-us__title">Fale conosco</h2>
        <input type="text" class="contact-us__name" placeholder="Nome" />
        <textarea class="contact-us__message" placeholder="Escreva sua mensagem"></textarea>
        <button class="contact-us__button button--solid">Enviar mensagem</button>
    </div>
</section>