<header class="header">
    <div *ngIf="!isSearch" class="header--default">
        <div class="header__left">
            <a routerLink="/store"><div class="header__logo"></div></a>
            <div class="header__search--desktop" >
                <input class="header__search___input" type="text" placeholder="O que deseja encontrar?" [(ngModel)]="term"/>
                <fa-icon [icon]="faMagnifyingGlass" (click)="search()"></fa-icon>
            </div>
        </div>
        <a *ngIf="!isLogged" routerLink="/login" class="header__login button--soft">LogIn</a>
        <button type="button" *ngIf="isLogged" (click)="logoff()" class="header__login button--solid">LogOff</button>
        <button class="header__search--cta" (click)="setSearch()">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
    </div>
    <div *ngIf="isSearch" class="header--search">
        <div class="header__search--field" >
            <input class="header__search___input" type="text" placeholder="O que deseja encontrar?" [(ngModel)]="term" />
            <fa-icon [icon]="faMagnifyingGlass" (click)="search()"></fa-icon>
        </div>
        <fa-icon class="header__search___icon" (click)="setSearch()" [icon]="faXmark"></fa-icon>
    </div>
</header>
