<section class="banner">
    <div class="banner__image" alt="Banner"></div>
    <div class="banner__content">
        <h2 class="banner__title">Dezembro Promocional</h2>
        <p class="banner__subtitle">Produtos selecionados com 33% de desconto</p>
        <button type="button" *ngIf="productsConsoles.length > 0" class="banner__button button--solid" (click)="scrollToConsoles()">Ver Consoles</button>
    </div>
</section>
<main class="content">
    <section class="grid" *ngIf="productsStarwars.length > 0">
        <div class="grid__header">
            <h4 class="grid__title">Star Wars</h4>
            <a routerLink="/products/{{ CAT_STARWARS }}" class="grid__link">
                Ver Tudo
                <fa-icon class="grid__icon" [icon]="faArrowRight"></fa-icon>
            </a>
        </div>
        <div class="cards" >
            <alr-card *ngFor="let pStar of productsStarwars" [product]="pStar" goLink="true" ></alr-card>
        </div>
    </section>
    <section id="consoles" class="grid" *ngIf="productsConsoles.length > 0">
        <div class="grid__header">
            <h4 class="grid__title">Consoles</h4>
            <a routerLink="/products/{{ CAT_CONSOLES }}" class="grid__link">
                Ver Tudo
                <fa-icon class="grid__icon" [icon]="faArrowRight"></fa-icon>
            </a>
        </div>
        <div class="cards">
            <alr-card *ngFor="let pConsole of productsConsoles" [product]="pConsole" goLink="true" ></alr-card>
        </div>
    </section>
    <section class="grid" *ngIf="productsStuffs.length > 0">
        <div class="grid__header">
            <h4 class="grid__title">Diversos</h4>
            <a routerLink="/products/{{ CAT_STUFFS }}" class="grid__link">
                Ver Tudo
                <fa-icon class="grid__icon" [icon]="faArrowRight"></fa-icon>
            </a>
        </div>
        <div class="cards">
            <alr-card *ngFor="let pStuffs of productsStuffs" [product]="pStuffs" goLink="true" ></alr-card>
        </div>
    </section>
</main>

<ngx-loading [show]="loading"></ngx-loading>