<main class="login">
    <form class="login__form">
        <h2 class="login__title">Iniciar Sessão</h2>
        <label for="email" class="visibility-hidden">Escreva seu e-mail</label>
        <input id="email" type="text" class="login__email" placeholder="Escreva seu e-mail" />
        <label for="password" class="visibility-hidden">Escreva sua senha</label>
        <input id="email" type="text" class="login__senha" placeholder="Escreva sua senha" />
        <a routerLink="/adm-products" class="login__button button--solid">Entrar</a>
    </form>
</main>