<main class="content">
    <section class="grid">
        <div class="grid__header">
            <h4 class="grid__title">Todos os produtos</h4>
            <a routerLink="/adm-product" class="grid__link button--solid">Adicionar produto</a>
        </div>
        <div class="cards">
            <alr-card *ngFor="let prod of products" [product]="prod" ></alr-card>
        </div>
        <div *ngIf="products && products.length === 0">Lista Vazia</div>
    </section>
</main>
<ngx-loading [show]="loading"></ngx-loading>