<main class="content">
    <form class="product__form">
        <h2 class="product__title">Adicionar novo produto</h2>
        <label for="name" class="label--float">Nome do produto</label>
        <input id="name" type="text" class="product__name" />
        <label for="cost" class="label--float">Preço do produto</label>
        <input id="cost" type="text" class="product__cost" />
        <label for="description" class="visibility-hidden">Descrição do produto</label>
        <textarea id="description" class="product__description" placeholder="Descrição do produto"></textarea>
        <button routerLink="" class="product__button button--solid">Adicionar produto</button>
    </form>
</main>