.content{
    background-color: var(--background-default);
    padding: 6rem 1.5rem;
}

.product__form {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin: 0 auto;
    width: 100%;
}

.product__form___image{
    height: 15rem;
    width: 100%;
}

.form__image___button{
    width: 100%;;
}

.form__image___file{
    padding-top: .5rem;
    height: calc(15rem - 3.5rem);
    object-fit: cover;
    width: 100%;
}

.product__header___title {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
}

.product__title, .product__cost{
    border: none;
    color: var(--text-color);
    font-size: 1rem;
    height: 3rem;
    padding: 0 .75rem;
}

.product__description{
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    height: 5rem;
    padding: .75rem;
    resize: none;
}

.product__button {
    font-size: 1rem;
    width: 100%;
}

@media screen and (min-width: 1200px){  /* pc */
    .product__form {
        width: 22rem;
        width: 35rem;
    }
    .product__title {
        font-size: 2rem;
    }
    .product__email, .product__senha{
        height: 3rem;
    }
    .product__button {
        width: 100%;
    }
}