.content{
    background-color: var(--background-default);
    padding: 6rem 1.5rem;
}

.product__form {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin: 0 auto;
    width: 100%;
}

.product__form___image{
    width: 100%;
}

.product__form___image--filled{
    height: 15rem;
}

.form__image___button{
    width: 100%;;
}

.form__image___file{
    padding-top: .5rem;
    height: calc(15rem - 3.5rem);
    object-fit: cover;
    width: 100%;
}

.product__header___title {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
}

.product__button {
    font-size: 1rem;
    width: 100%;
}

@media screen and (min-width: 1200px){  /* pc */
    .product__form {
        width: 35rem;
    }
}