<main class="content">
    <form *ngIf="productForm" [formGroup]="productForm" class="product__form" (ngSubmit)="saveProduct()">
        <h2 class="product__header___title">{{ !idProduct ? 'Adicionar novo produto' : 'Alterar produto' }}</h2>
        <div class="product__form___image" [class.product__form___image--filled]="product && product.imagePath || selectedFile">
            <input style="display: none" type="file" (change)="onImageChanged($event)" #imageProduct>
            <button type="button" (click)="imageProduct.click()" class="button--soft form__image___button">Procurar imagem</button>
            <img id="imageFile" [hidden]="!product || (product && !product.imagePath && !selectedFile)" class="form__image___file" 
                    src="{{imageBasePath}}/{{product.imagePath}}" alt="{{imageBasePath}}/{{product.imagePath}}">
        </div>
        <p *ngIf="!product.imagePath && !selectedFile && submittedOnce" class="message--error">Adicione uma imagem</p>
        <label for="category" class="label--ordinary">Categoria do produto</label>
        <select id="category" formControlName="category" class="select--dropdown" [class.input--error]="category?.invalid && submittedOnce">
            <option *ngFor="let cat of categories" [ngValue]="cat">{{cat}}</option>
        </select>
        <p *ngIf="category?.errors?.required && (title?.dirty || submittedOnce)" class="message--error">Campo obrigatório</p>
        <label for="title" class="label--float">Nome do produto</label>
        <input id="title" type="text" class="product__title input--ordinary" formControlName="title" [class.input--error]="title?.invalid && submittedOnce" />
        <p *ngIf="title?.errors?.required && (title?.dirty || submittedOnce)" class="message--error">Campo obrigatório</p>
        <p *ngIf="title?.invalid && !title?.errors?.required && (title?.dirty || title?.touched)" class="message--error">Digite no mínimo 3 e no máximo 20 caracteres</p>
        <label for="cost" class="label--float">Preço do produto (separe centavos com ponto e não vírgula)</label>
        <input id="cost" type="text" class="product__cost input--ordinary" formControlName="cost" mask="separator.2" [class.input--error]="cost?.invalid && submittedOnce" />
        <p *ngIf="cost?.errors?.required && (title?.dirty || submittedOnce)" class="message--error">Campo obrigatório</p>
        <label for="description" class="visibility--hidden">Descrição do produto</label>
        <textarea id="description" class="product__description textarea--ordinary" placeholder="Descrição do produto" 
                formControlName="description" value="{{product.description}}" [class.input--error]="description?.invalid && submittedOnce"></textarea>
        <p *ngIf="description?.invalid && (title?.dirty || submittedOnce)" class="message--error">Digite no máximo 150 caracteres</p>
        <button id="btnSubmit" type="submit" class="product__button button--solid">{{ !idProduct ? 'Adicionar produto' : 'Editar produto' }}</button>
    </form>
</main>
<ngx-loading [show]="loading"></ngx-loading>