.banner {
    position: relative;
    background: url('../assets/img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.banner__content{
    color: #fff;
    left: 5%;
    position: absolute;
    top: 45%;
}

.banner__image{
    height: 20vh;
    width: 100%;
}

.banner__title {
    font-size: 1.25rem;
    font-weight: 700;
}

.banner__subtitle{
    font-size: 1rem;
    font-weight: 300;
    margin: 1% 0;
}

.banner__button{
    font-weight: 600;
    min-width: 120px;
    width: 25vw;
}


@media screen and (min-width: 768px){  /* tablet */
    .banner__image{
        height: 35vh;
    }

    .banner__title {
        font-size: 3.25rem;
    }

    .banner__subtitle{
        font-size: 1.35rem;
        font-weight: 300;
        margin: 2% 0;
    }

    .banner__button{
        font-size: 1.1rem;
        font-weight: 400;
        min-width: 140px;
        width: 15vw;
    }
}

@media screen and (min-width: 1200px){  /* pc */
    .banner__content{
        top: 60%;
    }

    .banner__image{
        height: 50vh;
    }

    .banner__title {
        font-size: 3.25rem;
    }

    .banner__subtitle{
        font-size: 1.35rem;
        font-weight: 300;
        margin: 2% 0;
    }

    .banner__button{
        font-size: 1.1rem;
        font-weight: 400;
        min-width: 160px;
        width: 10vw;
    }
}


/* -------------------------- */

.content {
    padding: 0 .7rem;
}

.grid{
    padding-bottom: .3rem;
}

.grid__header {
    align-items: center;
    display: flex;
    height: calc(2.5rem + 1.375rem);
    justify-content: space-between;
}

.grid__title {
    color: var(--text-color);
    font-size: 1.375rem;
    font-weight: 700;
}

.grid__link {
    color: var(--primary-color);
    background-color: transparent;
    font-size: .875rem;
    font-weight: 700;
}

.cards {
    display: grid;
    grid-template-columns: calc(50% - .5rem) calc(50% - .5rem);
    grid-template-rows: auto auto;
    column-gap: 1rem;
}

.card--hide{
    display:none;
}

@media screen and (min-width: 768px){  /* tablet */
    .cards {
        grid-template-columns: calc(25% - .75rem) calc(25% - .75rem) calc(25% - .75rem) calc(25% - .75rem);
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 1200px){  /* pc */
    .cards {
        grid-template-columns: calc(16.66% - .833rem) calc(16.66% - .833rem) calc(16.66% - .833rem) calc(16.66% - .833rem) calc(16.66% - .833rem) calc(16.66% - .833rem);
        grid-template-rows: auto;
    }

    .grid__title {
        font-size: 2rem;
    }

    .grid__link {
        font-size: 1rem;
    }

    .card--hide{
        display: block;
    }
}

/* ----------------- footer -------------- */

.footer{
    align-items: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
    height: 7vh;
    justify-content: center;
}