<main class="content">
    <section class="product" *ngIf="product">
        <img class="product__image" src="{{imageBasePath}}/{{product.imagePath}}" alt="imagem nintendo switch" />
        <div class="product__body">
            <h5 class="product__title">{{product.title}}</h5>
            <div class="product__cost">{{product.cost/100 | currency:'BRL':'symbol'}}</div>
            <p class="product__description">{{product.description}}</p>
        </div>
    </section>
    <section class="grid" *ngIf="productsByCategory && productsByCategory.length > 0">
        <div class="grid__header">
            <h4 class="grid__title">Produtos Similares</h4>
        </div>
        <div class="cards">
            <alr-card *ngFor="let prod of productsByCategory" [product]="prod" goLink="true" ></alr-card>
        </div>
    </section>
</main>