<main class="content">
    <section class="product">
        <img class="product__image" src="../../assets/img/console/switch.svg" alt="imagem nintendo switch" />
        <div class="product__body">
            <h5 class="product__title">Produto XYZ</h5>
            <div class="product__cost">R$ 60,00</div>
            <p class="product__description">Voluptas voluptatum quibusdam similique, class debitis alias maecenas eveniet ridiculus, facilis fusce! Ullam conubia? Sociis, minima malesuada habitasse distinctio sequi aliqua malesuada. Quisque deleniti proin expedita, aliquid litora. Iste recusandae? Commodo, quia ridiculus doloribus vero dictum? Penatibus donec placeat faucibus, dolorum do. Animi porta anim magnam</p>
        </div>
    </section>
    <section class="grid">
        <div class="grid__header">
            <h4 class="grid__title">Produtos Similares</h4>
        </div>
        <div class="cards">
            <alr-card image="assets/img/starwars/babyoda.svg" name="Baby Yoda" cost="200,00" goLink="true" ></alr-card>
            <alr-card image="assets/img/starwars/darth.svg" name="Produto XPTO" cost="200,00" goLink="true" ></alr-card>
            <alr-card image="assets/img/starwars/kyle.svg" name="Produto XPTO" cost="200,00" goLink="true" ></alr-card>
            <alr-card image="assets/img/starwars/stormtrooper.svg" name="Produto XPTO" cost="200,00" goLink="true" ></alr-card>
            <alr-card class="card--hide" image="assets/img/starwars/trooper.svg" name="Produto XPTO" cost="200,00" goLink="true" ></alr-card>
            <alr-card class="card--hide" image="assets/img/starwars/yoda.svg" name="Produto XPTO" cost="200,00" goLink="true" ></alr-card>
        </div>
    </section>
</main>